/* Footer */

footer.main_footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-primary);
}

footer.main_footer .footer_formarImage {
    height: 10rem;
    width: 100%;
    background-color: white;
}

footer.main_footer .footer_formarImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer.main_footer .footer_socialMedia-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
    width: 100%;
    max-width: 20rem;
}

footer.main_footer .footer_socialMedia-container .footer_socialMedia-icon a{
    font-size: 3rem;
    color: white;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

footer.main_footer .footer_socialMedia-container .footer_socialMedia-icon a:hover{
    background-color: white;
    color: var(--color-primary);
}

/* Media queries */
/* Desktop */

@media (min-width: 992px) {
    footer.main_footer {
        flex-direction: row;
    }
    
    footer.main_footer .footer_formarImage {
        height: 13rem;
        width: 60%;
    }

    footer.main_footer .footer_socialMedia-container {
        width: 40%;
        max-width: 40%;
    }
}