* {
    margin: 0 important;
    padding: 0 important;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

a:hover {
    color: var(--color-text);
}

body {
    padding-top: 4rem;
}

@media (min-width: 992px) {
    body {
        padding-top: 6rem;
    }
}