<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')  %> 
<body>
    <main class="forms__mainContainer">
        <form action="" method="">
            <div class="form--input">
                <label for="name">Nombre y apellido</label>
                <input type="text" name="name" id="name">
                <small class="text-danger">Campo requerido</small>
            </div>
            <div class="form--input">
                <label for="name">Email</label>
                <input type="email" name="email" >
                <small class="text-danger">Campo requerido</small>
            </div>
          
        </form>
    </main>

    <%- include('partials/footer')  %> 
    <%- include('partials/scripts')  %> 

</body>
</html>