<footer class="main_footer">
    <section class="footer_formarImage">
        <img src="images/formar_img.png" alt="">
    </section>
    <section class="footer_socialMedia-container">
        <div class="footer_socialMedia-icon">
            <a href="https://www.instagram.com/fundacionformar/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
        <div class="footer_socialMedia-icon">
            <a href="https://www.facebook.com/Fundacion-Formar-269783010205963/" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </div>
        <div class="footer_socialMedia-icon">
            <a href="https://www.linkedin.com/in/fundacion-formar-371034198/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="footer_socialMedia-icon">
            <a href="">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>
    </section>
</footer>