<header class="main_header">
    <div class="header_logo">
        <a href="/">
            <img src="/images/formar_logo1.png" alt="logo formar">
        </a>
    </div>
    <div class="header_menuButton">
        <button>
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
    </div>
    <nav class="header_menu">
        <div class="header_menuClose">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="header_avatar">
            <% if (typeof session.user != "undefined") { %>
                <div class="avatar_session"></div>
            <% } %> 
        </div>
        <div class="header_searchBar">
            <form action="">
                <input type="text" placeholder="buscar">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <ul class="menu_list">
            <li><a href="">Conocenos</a></li>
            <li><a href="">Emprendimientos</a></li>
            <li><a href="">Contacto</a></li>
            <% if (typeof session.user != "undefined") { %>
                <li><a href="/usuarios/perfil">Mi perfil</a></li>
                <li><a href="/usuarios/logout">Cerrar sesión</a></li>
                <% if (session.user.rol === "ADMIN") { %>
                    <li><a href="/admin">Admin</a></li>
                <% } %>
            <% }else{ %> 
                <li><a href="/usuarios/login">Ingresá</a></li>
            <% } %> 
        </ul>
    </nav>
</header>