<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 

      <main class="container min-vh-100">
        <h1>PÁGINA DE INICIO</h1>
      </main>

      <%- include('partials/footer') %> 
      
      <%- include('partials/scripts') %> 

</body>
</html>